
/*when 600 px or less, maximize the width*/
@media only screen and (max-width: 600px) {
	#cellphone_container {
		width: 100%;
		height: 100%;
	}

	#veksler {
		display: block;
		position: absolute;
		top: 110%;
		left: 0px;
	}
}