#cellphone_container {
	top: 0px;
	left: 0px;
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	width: 400px;
	height: 100%;
}


#header {
	position: absolute;
	display: block;
	text-align: center;
	color: white;
	background-color: #68AEDF;
	left: 10px;
	right: 10px;
	top: 10px;
	height: 50px;
	font-size: 200%
}

#footer {
	position: absolute;
	display: flex;
	flex-direction: row;
	text-align: center;
	color:white;
	background-color: #68AEDF;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 50px;
	font-size: 75%;
}

.footerBox {
	background-color: #2F528F;

	flex: 1;
}

#active {
	background-color: #68AEDF;
}


#content {
	position: absolute;
	display: block;
	color: black;
	background-color: white;
	left: 10px;
	right: 10px;
	top: 60px;
	bottom: 60px;
	overflow-y: scroll;
}


.overskrift_sentrum_div {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0px;
}

button {
	background: white;
}

#angi_antall {
	position: absolute;
}

#content > div {
	font-size: 100%;
	padding: 10px;
}

.sporsmal_container_flex {
	display: flex;
	flex-direction: row;
}

.sporsmal_innhold_div {
	flex: 2;
}

.sporsmal_knapper_div {
	flex: 1;
}

.bivirkninger {
	position: relative;
	padding-bottom: 25px;
	padding-top: 5px;
	border-bottom: 2px solid black;
}

.active_div {
	background-color: #CCCCFF;
}

.innhold_div_flex {
	display: flex;
}

.radio_div {
	flex: 1;
	text-align: center;
}

.slider_container {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.legg_inn_alle_bivirkninger_div {
	margin-top: 20px;
	text-align: center;
}

.oppsummering_bivirkninger_div {
}

.knapp_i_sentrum_container {
	text-align: center;
}

.viktig_knapp {
	color: white;
	padding: 10px;
	background-color: #68AEDF;
	font-size: 100%;
	font-weight: bold;
	border-radius: 5%;
}

.ikke_klar_knapp {
	background-color: #AAAAAA;
	opacity: 0.2;
	color: black;
}

.informasjon_om_bivirkningen_div {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.forstorret_knapp {
	font-weight: bold;
	font-size: 150%;
}

.ingen_kant_eller_bakgrunn {
	padding: 0;
	border: none;
	background: none;

}

.overflate_div {
	position: absolute;
	padding: 10px;
	top: 50px;
	left: 10px;
	right: 10px;
	height: 50%;
	border: 3px solid black;
	background-color: white;
	z-index: 2;
}

.overflate_div_blank {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 1;
}


#veksler {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: white;
	border: 2px solid black;
}

.valgt_radio {
	font-weight: bold;
}

.generell_radio {
	font-weight: initial;
}


.tilbake_knapp_oppe_til_venstre {
	position: absolute;
	left: 0px;
	top: 0px;
}