body {
	font-family: sans-serif;
}

#cellphone_container {
	top: 0px;
	left: 0px;
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	width: 400px;
	height: 100%;
}


#header {
	position: absolute;
	display: block;
	text-align: center;
	color: white;
	background-color: #68AEDF;
	left: 10px;
	right: 10px;
	top: 10px;
	height: 50px;
	font-size: 200%;
	padding-top: 5px;
}

#footer {
	position: absolute;
	display: flex;
	flex-direction: row;
	text-align: center;
	color:white;
	background-color: #68AEDF;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 50px;
	font-size: 75%;
}

.footerBox {
	background-color: #2F528F;
	padding-top: 5px;
	flex: 1;
}

#active {
	background-color: #68AEDF;
}


#content {
	position: absolute;
	display: block;
	color: black;
	background-color: white;
	left: 10px;
	right: 10px;
	top: 60px;
	bottom: 60px;
	overflow-y: scroll;
}


.overskrift_sentrum_div {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0px;
	font-size: 150%;
}

button {
	background: white;
}

#angi_antall {
	position: absolute;
}

#content > div {
}

.sporsmal_container_flex {
	display: flex;
	flex-direction: row;
}

.sporsmal_innhold_div {
	flex: 2;
}

.sporsmal_knapper_div {
	flex: 1;
}

.bivirkninger {
	position: relative;
	padding-bottom: 25px;
	padding-top: 5px;
	border-bottom: 2px solid black;
}

.bivirkninger_inndeling_0 {
	background-color: #FFF;
}
.bivirkninger_inndeling_1 {
	background-color: #DDD;
}

.active_div {
	background-color: #AAFFDD;
}

.innhold_div_flex {
	display: flex;
}

.flex_div {
	flex: 1;
}

.alternativer_flex_div {
	text-align: center;
	font-size: 80%;
	margin: auto;
	width: 50%;
}

.radio_div {
	flex: 1;
	text-align: center;
}

.radio_input_div {
	font-size: 120%;
}

.bivirkning_radio_input {
	width: 2em;
	height: 2em;
}

.radio_label_div {
	font-size: 70%;
}


.slider_container {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

.legg_inn_alle_bivirkninger_div {
	margin-top: 20px;
	text-align: center;
}

.oppsummering_bivirkninger_div {
}

.knapp_i_sentrum_container {
	text-align: center;
}

.viktig_knapp {
	color: white;
	padding: 10px;
	background-color: #68AEDF;
	font-weight: bold;
	border-radius: 5%;
	width: 90%;
	margin: 5px;
	font-size: 130%;
}

.litt_viktig_knapp {
	color: black;
	padding: 5px;
	background-color: #FAFAFA;
	font-weight: bold;
	border-radius: 5%;
	margin: 2px;
	font-size: 100%;
}

.ikke_klar_knapp {
	background-color: #AAAAAA;
	opacity: 0.2;
	color: black;
}

.mellomrom_mellom_liste_element {
	padding: 5px;
}

.informasjon_om_bivirkningen_div {
	text-align: right;
}

.forstorret_knapp {
	font-weight: bold;
	font-size: 150%;
}

.ingen_kant_eller_bakgrunn {
	padding: 0;
	border: none;
	background: none;

}


#veksler {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: white;
	border: 2px solid black;
}

.valgt_radio {
	font-weight: bold;
}

.generell_radio {
	font-weight: initial;
}

.tilbake_til_start_meny_div {
	text-align: center;
}

.tilbake_til_start_meny_knapp {
	background-color: #2F528F;;
	/*position: absolute;
	left: 0px;
	top: 0px;*/
}

.start_meny_bivirkninger_div {
	text-align: center;
}

.start_meny_div {
	padding: 5px;
}

.varsel_symptomer_allerede_lagt_inn_div {
	
}

.tekst_innhold {
	font-size: 120%;
	padding: 15px;
}

.select {
	font-size: 130%;
	width: 70%;
}
.option {
	font-size: 120%;
}

.ring_sykehuset_div {
	text-align: center;
	color: red;
	font-weight: bold;
}

.varsel_trekant_div_container {
}